.content {
    padding: 20px;
  }
  
  .imageContainer {
    height: 20%;
  }
  
  .contentImage {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire container */
  }
  
  .audioBlock {
    width: 100%;
    background-color: #3b3b3b;
    border-radius: 25px;
    display: flex; /* Display children in a row */
    align-items: center; /* Optionally, vertically center the elements */
    padding: 20px; /* Add padding for spacing */
    justify-content: space-between; /* Add this line to distribute space evenly */
  }
  
  .audioBlock button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: OrangeRed;
    overflow: hidden; /* Ensure the image doesn't overflow */
    border: none;
    cursor: pointer;
    margin: 10px 10px 10px 0px;
  }
  
  .audioBlock button img {
    width: 100%; /* Make the image fill the button */
    height: 100%; /* Make the image fill the button */
  }
  

  #waveform {
    flex: 1; /* Make waveform fill remaining space */
  }
  
  .detailsRow {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
  }
  
  .commentsBlock,
  .mapBlock {
    width: calc(50% - 2px); /* Subtract 2px to account for border */
    height: 200px; /* Adjust as needed */
    border: 1px solid #ccc;
  }
  
  .divider {
    width: 2px;
    background-color: #ccc;
    margin: 0 10px;
  }
  