.content {
  position: relative;
  }
  
  .imageContainer {
    height: calc(100vh - 90px)
  }
  
  .contentImage {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire container */
  }

  .contentTitle {
    position: absolute;
    margin-top: -150px;
    margin-left: 55px;
    font-size: xx-large;
  }

  .contentAudio {
    padding: 30px 30px 10px 30px;
  }
  
  .audioBlock {
    
    display: flex; /* Display children in a row */
    align-items: center; /* Optionally, vertically center the elements */
    padding: 20px 20px 0px 20px; /* Add padding for spacing */
    justify-content: space-between; /* Add this line to distribute space evenly */
    border-bottom: 1px solid gray;
  }
  
  .audioBlock button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden; /* Ensure the image doesn't overflow */
    border: none;
    cursor: pointer;
    margin: 10px 10px 10px 0px;
  }
  
  .audioBlock button img {
    width: 100%; /* Make the image fill the button */
    height: 100%; /* Make the image fill the button */
  }
  

  #waveform {
    flex: 1; /* Make waveform fill remaining space */
  }
  
  .detailsRow {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
  }

  .contentActions{
    display: flex;
    justify-content: flex-end; /* Align all elements to the right */
    align-items: center;
    gap: 15px;
    margin: 0px 20px 0px 20px;
  }

  .contentActions button {
    background-color: #4F6F52; /* Green background */
    color: #ECE3CE; /* Text color */
    padding: 0px 12px; /* Padding for size */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and color */
    border-radius: 30px; /* Rounded corners */
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hover effect for the button */
.contentActions button:hover {
    background-color: #ECE3CE; /* Background color changes to light */
    color: #4F6F52; /* Text color changes to green */
    border: 1px solid #4F6F52;
}
  
  .commentsBlock,
  .mapBlock {
    width: calc(50% - 2px); /* Subtract 2px to account for border */
    height: 200px; /* Adjust as needed */
    border: 1px solid #ccc;
  }
  
  .divider {
    width: 2px;
    background-color: #ccc;
    margin: 0 10px;
  }

  #waveform {
    position: relative;
  }
  
  .time,
  .duration {
    position: absolute;
    z-index: 11;
    top: 50%;
    transform: translateY(-50%);
    font-size: 11px;
    pointer-events: none; 
    background: rgba(0, 0, 0, 0.75);
    padding: 2px;
    color: #ddd;

  }
  
  .time {
    left: 0;
  }
  
  .duration {
    right: 0;
  }

  .threeDots{
    position: relative;
  }

  .floatingThreeDotsPopup {
    position: absolute;
    z-index: 1000; /* Ensure it's above other content */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
  }
  
  .floatingThreeDotsPopup div {
    margin-bottom: 5px;
    display:flex;
  }
  
  .floatingThreeDotsPopup div:last-child {
    margin-bottom: 0;
  }
  
  .floatingThreeDotsPopup div:hover {
      background-color: #f0f0f0;
      cursor: pointer;
    }
    
  .hover {
      left: 0;
      top: 0;
      z-index: 10;
      height: 100%;
      width: 0;
      mix-blend-mode: overlay;
      background: rgba(255, 255, 255, 0.5);
      opacity: 0;
      transition: opacity 0.2s ease;
      pointer-events: none;
      position: absolute;
  }
  #waveform:hover .hover {
    opacity: 1;
  }
