.contentEdit .contentImage {
    object-fit: cover;
    height: calc(70vh - 110px); /* Adjust height as needed */
  }

  .contentEdit {
    position: relative;
    padding: 0px;
}

.contentEdit form {
    padding: 0px;
    position: relative;
}

.contentEdit .contentImage {
  object-fit: cover;
  height: calc(70vh - 110px); /* Adjust height as needed */
}

.contentEdit .imageContainer {
    position: relative;
    width: 100%;
    height: calc(70vh - 110px); /* Adjust height as needed */
    background-color: #739072;
    display: grid;
    gap: 10px; /* Adjust gap between elements */
    text-align: center;
    grid-template-rows: 5fr 1fr 8fr;
    
  }

.contentEdit .imageContainer span,
.contentEdit .imageContainer h1 {
    text-align: left; /* Left-align the text */
    margin-left: 100px;
}

.contentEdit .imageContainer input {
  font-size: 16px;
  justify-self: center; /* Center the input horizontally */
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contentEdit .contentTitleBackground {
    position: absolute;
    top: calc(70vh - 110px);
    width: 100%;
    background-color: #ECE3CE; /* Semi-transparent white background */
    height: 135px; /* Fixed height for the background */
  }

.contentEdit .contentTitle {
    position: absolute;
    top: calc(70vh - 60px);
    width: 100%;
}

.contentEdit .contentTitle input {
    background-color: transparent;
    font-size: 25px;
}

.contentEdit .contentContainer {
    width: 100%;
    text-align: left;
}

.contentEdit .contentContainer span {
    margin-left: 40px;
}

.contentEdit .contentContainer .contentAudio {
    height: 100%;  
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;    /* Center vertically */
    border: 1px solid gray;
    border-radius: 25px;    
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    margin: 10px 20px;
}

.contentEdit .contentContainer .contentAudio input {
    font-size: 16px;
}

.contentEdit .contentContainer .contentDescription {
    text-align: center;
    margin: 10px 20px;
}

.contentEdit .contentContainer textarea {
    width: calc(100% - 35px);
    min-height: 90px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    line-height: 1.5;
    background-color: #ede3cb;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
    font-family: 'AvantGardeGothicC';
    resize: none; /* Disable manual resizing */
}

.contentEdit .areaSelect {
    margin: 0px 20px;
    display: grid;
    
}

.contentEdit .areaSelect span {
    margin: 25px;
}

.contentEdit .pointsBlock {
    margin: 10px 20px;
}

.contentEdit .pointsBlock .pointsBlockInformation {
    display: flex;
  align-items: center; /* Align items vertically centered */
  gap: 20px;
  margin: 10px -20px;
}

.contentEdit .pointsBlock .pointsBlockInformation .switchContainer label{
    margin: 0px;
}

.contentEdit .pointsBlock .pointsBlockData {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contentContainer .pointsBlock select, 
.contentContainer .areaSelect select{
    width: 100%;
    background-color: #ECE3CE;
    font-family: 'AvantGardeGothicC';
    padding: 5px;
}

.contentContainer ::-webkit-scrollbar {
    width: 10px;
  }
  
  .contentContainer ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
  }
  
  .contentContainer ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .pointsBlock .coordinatesInput {
    display: grid;
    gap: 10px;
  }

  .pointsBlock .coordinatesInput input {
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0px 10px;
    font-family: 'AvantGardeGothicC';
  }

  .coordinatesInput.hidden,
  .locationSelect.hidden {
    opacity: 0;
  }

.contentEdit button {
    width: 280px;
    padding: 8px 20px;
    background-color: #4F6F52;
    color: #ECE3CE;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px 45px 10px 45px;
    font-size: 22px;
    font-family: 'FuturaDemiC', sans-serif;   
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and color */
    margin-bottom: 25px;
  }

  .contentEdit button:hover {
    background-color: #ECE3CE; /* Background color changes to light */
    color: #4F6F52; /* Text color changes to green */
    border: 1px solid #4F6F52;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  }

