.content {
  padding: 20px;
}

.imageContainer {
  height: 20%;
}

.contentImage {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire container */
}

.audioBlock {
  display: flex;
}

.audioBlock button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  margin-right: 10px;
}

.waveform {
  flex-grow: 1; /* Take up remaining space */
  height: 100%;
  overflow: hidden;
}

.detailsRow {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

.commentsBlock,
.mapBlock {
  width: calc(50% - 2px); /* Subtract 2px to account for border */
  height: 200px; /* Adjust as needed */
  border: 1px solid #ccc;
}

.divider {
  width: 2px;
  background-color: #ccc;
  margin: 0 10px;
}
 