.contentItem {
  position: relative;
    border-radius: 15px;
    width: 379px;
    height: 379px;
    margin: 20px;
    background: #262424;
    color: #dedede;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    text-align: left;
  }
  .contentItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .contentItem div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .contentItem h1,
  .contentItem h2,
  .contentItem h3,
  .contentItem p {
    margin-left: 20px;
  }

  .contentBackground {
    height: 66.666%;
  }

  .contentText {
    letter-spacing: 1px;
    max-width: calc(100% - 40px); /* Adjust margin */
    white-space: nowrap; /* Prevents text from wrapping to the next line */
    overflow: hidden;    /* Ensures that overflowing text is hidden */
    text-overflow: ellipsis; /* Adds ellipses (...) at the end of the overflowing text */
    font-size: 30px;
    margin: 20px 20px 20px 20px;
  }

  .contentData {
    font-size: 22px;
    display: flex;
    margin: 10px 0px 0px 0px;
  }

  .contentData div:last-child {
    text-align: right;
    margin-right: 5px;
  }

  .deleteButton {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    padding: 0px;
  }
  
  .deleteButton:hover {
    background-color: darkred;
  }

  .contentDeletedArea.hidden {
    opacity: 0;
  }

  .contentDeletedArea.visible {
    background-color: grey;
    color: whitesmoke;
    position: absolute;
    border-radius: 15px;
    width: 379px;
    height: 379px;
    opacity: 75%;
    bottom: 0px;
    justify-content: center;
    text-align: center;
    align-content: center;
    font-size: xx-large;
  }



