form {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
  width: auto;
  height: auto;
  padding: 30px;
}
  
  form input {
    height: 40px;
    width: 80%;
    border: none;
    border-bottom: 1px solid #121619;
    color: black;
    
  }
  
  form textarea {
    margin-top: 15px;
    height: 70px;
    width: 80%;
    border: none;
    border-bottom: 1px solid #121619;
    color: black;
  }
  input::placeholder,
  textarea::placeholder {
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
  form input:focus,
  textarea:focus {
    outline: none;
  }
  
  form label {
    margin-top: 15px;
    color: grey;
  }
  
  form button {
    margin: 25px 0px 0px 0px;
    color: white; /* Set link text color to black for better contrast with the background */
    width: 140px; /* Set the width of the buttons */
    height: 50px; /* Set the height of the buttons */
    background: #5d5c5c; /* Set the background color */
    border-radius: 33.419px;
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    position: relative;
    border: 0px transparent;
    font-size: 18px;
    font-family: 'FuturaDemiC', sans-serif;
    cursor: pointer;
  }