.navbar {
  background-color: #4F6F52; /* Set background color */
  color: white; /* Set text color to white */
  display: flex;
  justify-content: space-between; /* Align items to left and right */
  align-items: center; /* Center items vertically */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  width: 100%; /* Ensure navbar spans the full width */
  height: 90px;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  right: 0; /* Align to the right */
  z-index: 1000; /* Ensure navbar is above other elements */
  position: sticky;
}

.leftSide {
  display: flex;
  align-items: center; /* Center items vertically */
}

.rightSide {
  display: flex;
  margin-left: auto; /* Pushes the rightSide division to the rightmost side */
}

.navbar img {
  height: 60px;
  padding: 5px 0px 5px 20px;
}

.hiddenLinks {
  display: flex;
  position: relative;
}

.hiddenLinks a {
  color: #000; /* Set link text color to black for better contrast with the background */
  text-decoration: none; /* Remove underline */
  margin-left: 20px; /* Add margin for spacing between links */
  width: 188px; /* Set the width of the buttons */
  height: 49.63px; /* Set the height of the buttons */
  background: #ECE3CE; /* Set the background color */
  border-radius: 12px; /* Set border-radius */
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  position: relative;
}

.hiddenLinks a:first-child {
  right: 25px;
}

.hiddenLinks a:last-child {
  right: 25px;
}

.floatingMenuContainer {
  top: 90px;
  position: absolute;
}

.floatingMenuReorderButton {
  border-radius: 100%;
  border: 0px transparent;
  opacity: 85%;
  background-color: #5d5c5c;
  color: #ECE3CE;
  width: 50px;
  height: 50px;
  margin: 15px;
  cursor: pointer;
}

.floatingMenu {
  background-color: #ECE3CE;
  border-radius: 0% 30px 30px 0%;
  gap: 15px;
  padding-top: 15px;
  padding-bottom: 15px;

  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  flex-direction: column; /* Stack children vertically */

  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, height 0.5s ease;
}

.floatingMenu.visible {
  opacity: 1;
  height: 100%;
}

.floatingMenu.hidden {
  opacity: 0;
}

.floatingMenuReorderButton:hover {
  opacity: 75%;
}

.floatingMenuTabButton {
  border-radius: 100%;
  border: 0px transparent;
  width: 50px;
  height: 50px;
  color: #5d5c5c;
  background-color: transparent;
  cursor: pointer;
}

.floatingMenuTabButton svg {
  height: 35px;
  width: 35px;
}