html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #root {
    height: 100%;
  }
  
  .adminPanel {
    display: flex;
    height: 100%;
    border: 1px solid #bdbdbd; /* Border around the entire panel */
  }
  
  .adminPanel .leftPanel {
    width: 20%; /* Adjust width as necessary */
    border-right: 1px solid #bdbdbd; /* Border between aside and main */
    display: flex;
    flex-direction: column;
    font-family: 'AvantGardeGothicC';
    font-size: x-large;
    color: #5d5c5c;
  }
  
  .adminPanel .panelContent {
    width: 80%; /* Adjust width as necessary */
    padding: 20px;
    box-sizing: border-box; /* Ensures padding is included in the element's total width and height */
  }
  
  .adminPanel .leftPanel table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .adminPanel .leftPanel th, .adminPanel .leftPanel td {
    padding: 8px;
    padding-left: 25px;
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 8px;
  }
  
  .adminPanel .leftPanel th {
    background-color: #f2f2f2;
  }
  
  .adminPanel .leftPanel tr {
    height: 50px; /* Adjust height as necessary */
    border: 1px solid #bdbdbd; /* Border between table cells */
  }
  
  .adminPanel .leftPanel tr:hover {
    background-color: #f1f1f1;
  }

  .adminPanel .panelContent {
    min-height: calc(100vh - 90px - 2px);
    height: calc(100% - 90px - 2px);
    padding: 20px 50px;
  }
  
  .adminPanel .panelContent h1 {
    margin-bottom: 20px;
    text-align: left;
  }

  @media only screen and (max-width: 2000px) {
    .adminPanel .panelContent .blocksContainer {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
    }
  }
  
  @media only screen and (max-width: 1250px) {
    .adminPanel .panelContent .blocksContainer {
      grid-template-columns: 1fr; /* 1 column for small screens */
    }
  }

  .adminPanel .coordinatesInput {
    display: flex;
    gap: 10px; /* Gap between items */
    align-items: center;
  }
  
  .adminPanel .coordinatesInput input {
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0px 10px;
    font-family: 'AvantGardeGothicC';
    height: 40px;
    font-size: 15px;
    width: 150px; /* Adjust width as needed */
  }
  
  .adminPanel .coordinatesInput .createLocation {
    background-color: #4F6F52;
    color: #ECE3CE;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    width: 280px;
    font-family: 'FuturaDemiC', sans-serif;
    transition: background-color 0.3s, color 0.3s;
    padding: 10px 20px;
  }
  
  .adminPanel .coordinatesInput .createLocation:hover {
    background-color: #ECE3CE;
    color: #4F6F52;
    border: 1px solid #4F6F52;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  }
  
  .locationTableContainer {
    width: 80%; /* Table container width */
    margin: 0 auto; /* Center align horizontally */
    font-family: 'AvantGardeGothicC';
  }
  
  .coordinatesInput {
    display: flex;
    gap: 10px;
    margin-bottom: 10px; /* Space between inputs and table */
  }
  
  .coordinatesInput input {
    width: 150px; /* Adjust input width as needed */
    height: 40px;
    padding: 0px 10px;
    font-family: 'AvantGardeGothicC';
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: transparent;
  }
  
  .createLocation {
    background-color: #4f6f52;
    color: #ece3ce;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'FuturaDemiC', sans-serif;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .createLocation:hover {
    background-color: #ece3ce;
    color: #4f6f52;
    border: 1px solid #4f6f52;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  }
  
  .locationTable {
    width: 100%;
    border-collapse: collapse; /* Collapse table borders */
    text-align: center; /* Center align text within cells */
  }
  
  .locationTable th,
  .locationTable td {
    padding: 12px; /* Padding inside cells */
    border: 1px solid #bdbdbd; /* Border for table cells */
  }
  
  .locationTable th {
    background-color: #739072; /* Header background color */
    font-size: 18px; /* Increase font size for header */
  }
  
  .locationTable td {
    font-size: 16px; /* Increase font size for data cells */
  }
  
  .userTableContainer {
    padding: 20px;
  }
  
  .tableContainer {
    width: 80%;
    margin: 0 auto;
  }
  
  .userTable {
    width: 100%;
    border-collapse: collapse;
    font-family: 'AvantGardeGothicC';
  }
  
  .userTable th, .userTable td {
    border: 1px solid #bdbdbd;
    padding: 8px;
    text-align: center;
  }
  
  .userTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #739072;
  }

  .userTable tr td {
    cursor: pointer;
    
  }
  .userTable tr td:hover {
    text-decoration: underline;
  }
  
  .adminPanel .deleteUserButton {
    position:unset;
    width: 30px;
    height: 30px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    padding: 0px;
  }

  .adminPanel .deleteUserButton:hover {
    background-color: darkred;
  }