.playlistData {
    padding: 35px 100px;
    height: 20vh;
    text-align: left;
    justify-content: center;
    color: #dedede;
    background: #739072;
}

.playlistData .firstRow {
    display: flex;
    justify-content: space-between; /* Align items to left and right */
    align-items: center; /* Center items vertically */
}

.playlistData .firstRow .leftSide {
    width: 66vh;
}

.playlistData .firstRow .rightSide {
    width: 33vh;
    justify-content: right;
    text-align: center;
}

.playlistData .playlistTitle {
    font-size: xxx-large;
    margin: 0px
}

.playlistData .playlistAuthor {
    margin: 0px;
}

.playlistData .playlistDescription {
    margin: 20px 0px;
    font-family: 'AvantGardeGothicC';
    font-size: large;
}

.playlistData input.playlistDescription {
    background-color: #739072;
    width: 100%;
    border-radius: 7px;
    color: #dedede;
}