.profileEdit {
    margin: 0 auto; /* Center the container */
    padding: 0px;

}

.profileEdit .profileRow {
    width: 80%;
}

.profileEdit input {
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0px 10px;
    font-size: 16px;
    padding: 10px 20px;
    font-family: 'AvantGardeGothicC';
}

.profileEdit h2 {
    text-align: left;
}

.profileEdit .profileImage {
    display: grid;
    place-items: center; 
    gap: 10px;
}

.profileEdit .profileImage input {
    width: 250px;
}

.profileEdit .fullnameRow {
    display:grid;
    gap: 10px;
}

.profileEdit .emailRow {

}

.profileEdit .passwordRow {
    display: grid;
    gap: 10px;
}
