body {
    background: #c2aec5;
    color: white;
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  button {
    background: OrangeRed;
    color: white;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    outline: none;
    text-transform: uppercase;
    transition: all 0.2s ease;
  }
  
  button:hover {
    background: #d63d05;
  }
  
  .controls {
    text-align: left;
    padding: 1em;
  }
  